<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <title>Chat App</title>
</head>
<body>
    <h2>Welcome, {{username}}</h2>

    <div id="chatbox" style="border:1px solid #000; height:200px; overflow-y:auto; margin-bottom:10px;"></div>

    <h3>Active Users</h3>
    <ul id="users"></ul>
    



    <script>
        var socket = io();

        socket.on("message", function(data){
            let chatbox = document.getElementById("chatbox");
            chatbox.innerHTML +=  `<p><b>${data.username}:</b> ${data.msg}</p>`;
            
        })


        socket.on("active_users", function(users) {   //listens to active_user list coming from the server via emit
            let userList = document.getElementById("users");
            userList.innerHTML = "";
            users.forEach(user => {
                userList.innerHTML += `<li>${user}</li>`;
            })
        })


    </script>




</body>
</html>