<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <title>Chat App</title>
</head>
<body>
    <h2>Welcome, {{username}}</h2>

    <div id="chatBox" style="border:1px solid #000; height:200px; overflow-y:auto; margin-bottom:10px;"></div>

    <input type="text" id="messageInput" placeholder="type a message...">
    <button onclick="sendMessage()">Send</button>

    <h3>Active Users</h3>
    <ul id="users"></ul>
    



    <script>
        var socket = io();

        function sendMessage() {
            let msg = document.getElementById("messageInput").value;
            if (msg.trim() !== "") {
                socket.emit("message", {msg: msg});     //sends the message to the server with event name message where @socketio.on("message") is listening for it
                document.getElementById("messageInput").value = "";    //Clears the input box after sending the message.
            }
        }

        socket.on("message", function(data){
            let chatBox = document.getElementById("chatBox");
            chatBox.innerHTML +=  `<p><b>${data.username}:</b> ${data.msg}` + (data.timestamp ?  `<small>${data.timestamp}</small>` : '' ) + `</p>`;
            chatBox.scrollTop = chatBox.scrollHeight;
            
        })


        socket.on("active_users", function(users) {   //listens to active_user list coming from the server via emit
            let userList = document.getElementById("users");
            userList.innerHTML = "";
            users.forEach(user => {
                userList.innerHTML += `<li>${user}</li>`;
            })
        })


    </script>




</body>
</html>